<h1>Exception Message</h1>


<p style="font-size:20px"> @ViewBag.Message</p>

<h1>Exception type</h1>

<p style="font-size:20px">@ViewBag.Type</p>

<h1>Exception stacktrace</h1>

<p style="font-size:20px">@ViewBag.Exception</p>


<h1>Exception source</h1>


<p style="font-size:20px"> @ViewBag.Source</p>


<h1>Exception target</h1>


<p style="font-size:20px">@ViewBag.Target</p>

